body{
    background-color: white;
}
.moki button:hover{
    background-color: blue;
}
.moki{
    background-color:rgb(7, 216, 52);
    color:white;
    margin-top:10%;
    max-width:300px;
    margin-left: auto;
    margin-right: auto;
    border: 15px solid rgb(246, 94, 74);
    font-family: bold;
    outline:2px solid black;
    border-radius: 15%;

}
.moki div{
    display: flex;
    justify-content: space-between;
    margin-left:10%;
    margin-right:10%;
    margin-top:5%;
    margin-bottom:5% ;
}
.object1 input{
    border: 2px solid black;
    width:100%;
    outline: none;
    padding: 15px 0px 15px 0px;
    font-size:30px;
    border-radius: 15%;    
    color:blue;
    
}
.object2 button{
    text-align: center;
    width:15%;
    height:15%;
    box-shadow: inset;
    box-shadow: 2px 5px #0e8a50;
    font-size:100%;
}
.object3 button{
    text-align:center;
    width:15%;
    height:15%;
    box-shadow: 2px 5px #0e8a50;
    font-size:100%;
}.object4 button{
    text-align: center;
    width:15%;
    height:15%;
    box-shadow: 2px 5px #0e8a50;
    font-size:100%;
}.object5 button{
    text-align: center;
    width:15%;
    height:15%;
    box-shadow: 2px 5px #0e8a50;
    font-size:100%;
}.object6 button{
    text-align: center;
    width:15%;
    height:15%;
    box-shadow: 2px 5px #0e8a50;
    font-size:100%;
}

